:root{
    --black : #000000;
    --white : #ffffff;
    --primary : #3eff5e;
    --light-green : #77d887;
    --light-gray : #555151;
    --gray : #afaeae;
    --gray-background : #f3f3f3;
    --brackground : #ddd7d7;
    --red : #da4a4a;
    --light-red : #f0a3a3;
}

.filmes-list{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.filmes-list li{
    
    margin: 20px 10px 0;
    
}

.filmes-list li:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.363);
}

.filmes-list a{
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    transition: all 0.3s;
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

.filmes-list a:hover{
    text-decoration: none;
}

h2{
    color:var(--white);
    margin: 40px 0 15px 20px;
    font-size: 20px;
    
}


.imagem-filmes{
    
    display: flex;
    height: 150px;
    margin: 10px 5px 0 10px;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
}
.Filmes{
    width: 100%;
    padding: 0;
    margin: 0;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

p{
    display: flexbox;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--white);
    font-size: 17px;

}


 .AnjosDaLei,.Batman,.GenteGrande,.AOrigem,.BadBoys,.EsposaDeMentirinha, .Interestelar, .Kingsman, .Tenet, .VelozesEFuriosos{

    padding: 0;
    margin: 0 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
 }


 .imagem-filmes:hover{
    
    border-radius: 15px;
    transform: scale(1.2);
 }

 
 

